.box {
  width: 100%;
  background-color: cadetblue;
}
.headerBox ul {
  display: flex;
  margin: 0;
}
.headerBox ul LI {
  padding-right: 8px;
  list-style: none;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 60%;
}

.dataUser {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
